span {
  font-size:72px;
}
.row {
  position:absolute;
  left:0;
  right:0;
  margin: 0 auto;
  text-align:center;
  color:black;
  font-family:;
}
#tomato{
  position:absolute;
  top:50px;
  left:0;
  right:0;
  margin: 0 auto;
  text-align:center;
  color:black;
}
.mybtn{
  width:100px;
  margin:0 auto;
  display:inline-block;
}
.timer {
  width: 500px;
  margin: 0 auto;
  position:relative;
  top:150px;
  color:white;
}
.button{
  position:relative;
  top:200px;
}
#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
